$light: #fff;
$primary-color: #82b74b;
$secondary-color: #3e4444;
$success: #405d27;
$black: #000;
$alert:#c1946a;
$border-color:#dedede;
$primary-font:'Raleway', sans-serif;
//$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
//$icon-font: 'themefisher-font';
$icon-font: 'Raleway';
